@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5cc9e436;
    font-family: "Michroma", sans-serif, Georgia, Times, 'Times New Roman', serif;
}

header {
    width: 60%;
    height: 25vh;
    margin: auto;
}

.heading {
    font-size: 4rem;
    font-weight: 900;
    color: #28aeb1;
    text-align: center;
}

main {
    width: 70vw;
    height: 80vh;
    margin: auto;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:  #14595abd;
    border-radius: 10px;
}

.start-btn {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Michroma", sans-serif, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(255 16 0);
    border-radius: 10px;
}

.player-info {
    width: 45%;
    min-width: 300px;
    height: 50px;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 18px;
    color: rgb(255 16 0);
}

.game-board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
    width: 50%;
    min-width: 500px;
    height: 80%;
    margin: auto;
    padding: 30px;
    background-color: #54c4e0;
    font-family: "Michroma", sans-serif, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 11px 20px 10px #699191;
    border-radius: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8fdee0;
    font-size: 4rem;
    font-weight: 900;
    color: white;
    box-shadow: 4px 9px 10px #067b7c;
    text-shadow: 8px 8px 5px black;
    border-radius: 10px;
}

.clicked {
    box-shadow: 5px 5px 10px black;
}

.box:hover {
    background-color: #28aeb1;
    scale: 0.95;
}

footer {
    height: 5vh;
}

/* For Start button and overlay. */
.display-none {
    display: none;
}


/* Responsiveness */

@media  screen and (max-width: 840px) {
    html {
        font-size: 12px;
    }

    header {
        height: 20vh;
    }

    .game-board {
        min-width: 350px;
    }
}

@media  screen and (max-width: 640px) {
    header {
        width: 90%;
    }

    main {
        width: 95%;
    }
}

@media  screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }

    .player-info {
        min-width: 200px;
    }

    .game-board {
        width: 100%;
        min-width: 250px;
    }
}