@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Michroma&display=swap');

body {
    background-color: #75cce236;
    box-sizing: border-box;
    font-family: "Michroma", sans-serif, Georgia, Times, 'Times New Roman', serif;
}

header {
    width: 60%;
    height: 15vh;
    margin: auto;
}

.heading {
    font-size: 4rem;
    color: #28aeb1;
    text-align: center;
}

main {
    width: 70vw;
    height: 80vh;
    margin: auto;
}

.player-info {
    width: 35%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 18px;
    color:#1fb0d4;
    border: 4px solid #1fb0d4;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 50%;
    height: 70%;
    margin: auto;
    padding: 30px;
    background-color: #54c4e0;
    font-family: "Michroma", sans-serif, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 11px 20px 10px #699191;
    border-radius: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8fdee0;
    font-size: 4rem;
    font-weight: 900;
    color: white;
    box-shadow: 4px 9px 10px #067b7c;
    text-shadow: 8px 8px 5px black;
    border-radius: 10px;
}

.clicked {
    box-shadow: 5px 5px 10px black;
}

.box:hover {
    background-color: #28aeb1;
    scale: 0.95;
}

footer {
    height: 20vh;
}